<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Teaching programming</display-name>

    <!--

    <servlet>
        <servlet-name>UserRatingServlet</servlet-name>
        <servlet-class>ru.innopolis.uni.course3.ofedorova.servlets.marks.UserRatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRatingServlet</servlet-name>
        <url-pattern>/main/user-rating</url-pattern>
    </servlet-mapping>
    -->

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>ru.innopolis.uni.course3.ofedorova.security.SecurityFilter</filter-class>
        <init-param>
            <param-name>loginActionURI</param-name>
            <param-value>/main/security/logon</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/main/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>teaching_programming</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>teaching_programming</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/teaching_programming-servlet.xml
            classpath:appContext.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

</web-app>